body {
  margin: 0;
  padding: 10px;
  font-family: "Arial", sans-serif;
  text-align: center;

}
#map {
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  width: 75vw;
}
#navmenu {
  background: #fff;
  position: absolute;
  z-index: 3;
  top: 18%;
  left: 13%;
  border-radius: 3px;
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Arial", sans-serif;
}

#navmenu a {
  font-size: 14px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#navmenu a:last-child {
  border: none;
}

#navmenu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#navmenu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#navmenu a.active:hover {
  background: #3074a4;
}

p {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

#googlemap {
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  width: 75vw;
}
